.calc-container {
    width: 280px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    text-align: right;
}

.calc-container p {
    background: #000;
    color: black;
    font-size: 32px;
    margin: 0;   
    background-color: orange;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px ;
    border-radius: 10px;
    text-align: left !important;
    height: 45px;
}

.calc-container button {
    width: 60px;
    height: 60px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
    transition: 0.15s;
    color: white;
    background-color: black;
    color: white;
}

.calc-container button[data-type='ac'] {
    background-color: red;
    color: white;
}

.calc-container button[data-type='equal'] {
    background-color: green;
    color: white;
}

.calc-container button[data-type='operator'] {
    background-color: orangered;
    color: white;
}

.calc-container button[data-type='numbers'] {
    background-color: grey;
    color: black;
}
.calc-container h1 {
    font-size: large;
    margin-bottom: 20px;
}